///////////////////////////
//  
//    LESS Styles
//

@main: #004040;
@hghlt: #009884;
@white: #fefefe;

.bb {
  border-bottom:1px solid @hghlt;
}

.br{
  border-right:1px solid @hghlt;
}

.bl {
  border-left:1px solid @hghlt;
}

.scale {
  -webkit-transform:scale(1.0);
}

.transform {
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
}

.center {text-align:center;}
.roundtest {border-radius:10px; box-shadow:3px 6px 0px #525252}
.roundtest2 {border-radius:50%;}
.roundtest3 {border-radius:3px; border:1px dotted @white;}

body {
  overflow-y: scroll;
}

///////////////////////////
//  
//    BootStrap Overwrites
//

.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12 { padding:0;}
.row {margin-left:0; margin-right: 0;}

///////////////////////////
//  
//    Custom Code
//

body{
  font-family: 'Roboto', sans-serif;
  background: @main;
  color: @white;
}


.top-cont {
  background:@main;
  color:@white;
}

.sec-cont {
  background:@white;
  color:@main;
}

.thr-cont {
  background:@hghlt;
  color:@main;
}

nav {
  padding:15px 0;
  text-align: center;

  .tylerlogo {
    margin:0 auto;
    padding-top: 5px;
  }

  .row {text-align: center;}

  .col-sm-7 {
    font-size:20px;
    text-align: left;
  }

  .col-sm-5 {
    text-align: center;
    font-size:20px;
    small{
      font-size:9px;
    }
    span {
      margin:0px 20px;
      padding:0px 10px;
      display: inline-block;
      text-align: center;
      .transform;
    }
    span:hover {
      .scale;
    }
  }
}

footer {
  margin-top:20px;
  background:@main;
  color:@white;
  ul {
    marign:0;
    padding:0;

    li{display:inline-block; padding:0px 9px;}
  }
  span{
    font-size: 9px;
  }
}

/////////////////
// Bio Section //
/////////////////

.bio {
  
  .range-container {

    padding:10px 20px;

  }

  input[type="range"] {
    width:100%;
  }

  h1 {
    font-size:30px;
    text-align: center;
  }
  
  .tyler-slide-container {
    position:relative;

    .atom-container {
      position: absolute;
      top: 184px;
      left: 160px;
      z-index: 300;
    }

    .supporting-text {
      position: relative;
      top: -95px;
      left: -64px;
      display: inline-block;
      -webkit-transform: rotate(-90deg);
      text-align: center;
      width: 70px;
    }

    .tyler-slide {
      position: relative;
      top:0;
      right:0;
      width:3000px;
      height:500px;
      -webkit-transition:all .3s ease-out;
      padding-left: 195px;
      
      .tyblock {
        padding:0px;
        display:inline-block;
        float:left;

      }

      .tyblock.pro {
        display:block;
        width:2500px;
        height:230px;
        position: relative;
        top: 16px;

        svg {
          position: absolute;

          .job.brighton {
            bacground:rgba(255, 255, 255, 0.5)
          }
        }

        h2 {
          margin:10px 0 10px;
        }

        .pro-item {
          position: relative;
          bottom: 0;
          left: 0;
          /* float: left; */
          display: inline-block;
          height: 100%;
          min-width: 200px;

          .pro-item-content {
            position: absolute;
            bottom:0;
          }

          img.brighton-resort {
            max-width: 50px;
            position: absolute;
            top: -67px;
            left: 29px;
            -webkit-transform: rotate(-9deg);
          }
        }
      }

      .tyblock.timeline {
        display:block;
        width:2500px;
        height:40px;
      }

      .tyblock.edu {
        display:block;
        width:2500px;
        height:230px;
        position: relative;
        top: -16px;

        h2 {
          margin:10px 0 10px;
        }

        .edu-item {
          position: absolute;
          top:0;
          left:0;
        }
      } 

      .tyblock.start {
        width:400px;
        height:100%;
        border:none;
        margin-left:40px;
      }
    }
  }
}


///////////////////////////
//  
//    Typography
//

h1 {margin:0; padding:0; font-size: 20px;}

a {color:@white;}

span.c0 {
  color:#90EE03;
   -webkit-animation-name:fadecolorneon;
  -webkit-animation-duration:2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay:0s;


}
span.c1 {color:#c2c2c2;
  -webkit-animation-name:fadecolorgray;
  -webkit-animation-duration:2.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay:0s;
}
span.c2 {color:@hghlt;
  -webkit-animation-name:fadecolorhghlt;
  -webkit-animation-duration:3s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay:0s;
}
span.c3 {color:#c2c2c2;}

span.father{
  font-size: 18px; color:#E44E4E;
  -webkit-animation-name:heartbeat;
  -webkit-animation-duration:1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;

}

///////////////////////////
//  
//    View Styling
//

////////  homeview styling */
ul.latest {
  
  margin:0;
  padding:0;

  li {
    display: block;
    margin:0;
    padding:0;
    padding:30px 0px;
    .transform;
  }

  li:hover{
    background: @hghlt;
    .scale;
  }
}

.right-col {
  text-align: center;

  ul{
    margin:0;
    padding:0;

    li{
      display: block;
      padding:30px 0;
      font-size:8px;
      .transform;

      span{font-size: 40px; line-height: 24px;}
    }
    li:hover {
      background:@white;
      color:@main;
      .scale;
    }
  }
}

.cats {
  .col-xs-4 {
    text-align:center;
    font-size:10px;
    .transform;
    height: 30px;
    padding-top: 5px;
    cursor: pointer;

    span {
      font-size:10px;
    }

    span.glyphicon {
      font-size:20px;
    }
  }

  .col-xs-4:hover {
      background:@white;
      color:@main;
      .scale;
  }
}



///////////////////////////
//  
//    TylerScore
//

nav .col-sm-5 .tylerScore {

  font-size:12px;
  line-height: 12px;
  
  span {
    margin:0;
    padding:0;
    color:#E0FF00;
    font-size:16px;
  }
  div.tscore {
    font-size:8px;
    color:@white;
  }

}


.welcome {
 background: #2b2b2b;
text-align: center;
overflow: hidden;
box-shadow: inset -5px 0px 22px -8px #000000;
-webkit-animation-name: close;
-webkit-animation-duration: 5s;
padding:20px 0 20px 0;
border-bottom:1px solid #006154;
border-top:1px solid #006154;
.transform;
}

.dissapear {paddin:0px;}

@-webkit-keyframes close {
  0%{
    padding:0px;
    display:block;
  }

  20% {
    padding:20px 0 20px 0;
  }

  80%{
  }

  100%{
    }
}





/////// WORK TILES

 .workcont {
    margin-top:10px;

    .center {
      text-align:center;
    }

    .col-sm-8 {}
    .col-sm-12 {
      text-align:left;
    
      ul {
        margin: 0;
        padding: 0;
        list-style:none;

        li.title {
          background:@hghlt;
          padding:3px 0px 0 3px;
        }

        li.info {
          font-size:8px;
          text-align: center;
          padding-bototm:5px;
        }




      }

    }

  }

.row.work-tiles {
  background:@white;
  color: #2b2b2b;
  text-align:center;

  h3 {
    font-size: 20px;
    margin: 0;
    padding: 6px 0;
  }

  .col-xs-3 {
    padding:4px 0;
    .transform;
  }

  .col-xs-3.navhighlight {
    background:@hghlt;
    color:@white;
  }

  .col-xs-3:hover {
    background: @hghlt;
  }
}

.center {text-align:center;}


.myavatar {
  background:url(../img/myAvatar.png);
  background-size:cover;
width: 150px;
height: 150px;
border-radius: 50%;
margin:0 auto;
}



.work-container {
  position:relative;
  overflow:hidden;
}

input.workSearch {
  width: 100%;
  height: 41px;
  text-align: center;
  border-radius: 5px;
  font-size: 17px;
  color: #17533B;
  margin-bottom: 11px;
}


.intro h1 {
  margin-top: 7px;
border-bottom: 1px solid #fefefe;
position: relative;
top: 17px;
max-width: 359px;
padding-bottom: 7px;
text-align: left;
}


//Data Visualizations

.bio-container {
  div.bar {
      display: inline-block;
      width: 20px;
      height: 75px;   /* We'll override this later */
      background-color: teal;
      margin-right: 2px;
  }

}

// Portfolioa Items
.port-item {
  position: relative;
  height:200px;
  width: 200px;
  -webkit-transition:all .1s;
  -webkit-transition-delay:.25s;
  margin: 10px auto 20px;

  img.logo {
    position: absolute;
    top: -10px;
    left: 0;
    -webkit-transition: all .2s;
    -webkit-transition-delay: .25s;
    z-index: 200;
  }

  .port-item-overlay {
    overflow: hidden;
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 100px;
    -webkit-transition: all .3s;
    -webkit-transition-delay:.25s;

    img.screenshot {
      position: absolute;
      top: 5px;
      -webkit-transform: scale(0.4) rotate(17deg);
      left: -118px;
      z-index: 2;
      box-shadow: 2px -1px 7px 0 #000000;
      -webkit-transition: all .3s;
      -webkit-transition-delay:.5s;
    }

    img.screenshot2 {
      position: absolute;
      top: 0px;
      -webkit-transform: scale(0.4) rotate(-9deg);
      left: -94px;
      -webkit-transition: all .3s;
      -webkit-transition-delay:.5s;
    }

    .overlay-top{
      position: absolute;
      width: 100%;
      height: 100px;
      background: rgba(88, 228, 217, 0.36);
      -webkit-transition: all .25s;
      border-radius: 93px 100px 0 0;
    }

    .overlay-bot{
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 100px;
      background: rgba(88, 228, 217, 0.36);
      -webkit-transition: all .25s;
      border-radius: 0 0 100px 100px;
    }

    .item-details {
    display:none;
  }

  }

}

.port-item:hover {
  width:100%;
  height: 420px;

  img.logo {
    position: absolute;
    top: 0%;
    background-color:@main;
    left: 0%;
  }

  .port-item-overlay {
    width:100%;
    height: 100%;
    border-radius: 0px;

    img.screenshot {
      position: absolute;
      top: 5px;
      -webkit-transform: scale(.8) rotate(0);
      left: 50%;
      z-index: 2;
      box-shadow: 2px -1px 7px 0 #000000;
      }

    img.screenshot2 {
        position: absolute;
        top: 5px;
        -webkit-transform: scale(.8) rotate(0);
        left: 70%;
        z-index: 2;
        box-shadow: 2px -1px 7px 0 #000000;

    }
    img.screenshot:hover{
      z-index: 100;
    }
    img.screenshot2:hover{
      z-index: 100;
    }


    .overlay-bot, .overlay-top {
      height: 0;
      width:100%;
    }
  }
}

//Animations

.reveal-animation-container {
  background: #2b2b2b;
  box-shadow: inset -5px 0px 22px -8px #000000;
  overflow:hidden;
  border-top:1px solid #006154;
  border-bottom:1px solid #006154;
  padding: 15px 10px;
}

///

.work-animation.ng-enter,
.work-animation.ng-leave{
  -webkit-transition:0.3s linear left;
  -moz-transition:0.3s linear left;
  -o-transition:0.3s linear left;
  transition:0.3s linear left;
}

.work-animation.ng-enter{
  left:-500px;
}

.work-animation.ng-enter.ng-enter-active {
  left:0;
}

.work-animation.ng-leave{
  left: 0px;
}

.work-animation.ng-leave.ng-leave-active {
  left:500px;
}


///


.reveal-animation.ng-enter,
.reveal-animation.ng-leave {
  position:relative;
}

.reveal-animation.ng-enter {
max-height:1px; opacity: 0; visibility: hidden; top: -10px; transition-duration: 200ms, 200ms, 200ms, 0; transition-property: max-height, opacity, top, visibility; transition-delay: 0, 0, 0, 200ms;
}

.reveal-animation.ng-enter.ng-enter-active {
 max-height:400px; opacity: 1; visibility: visible; top: 0px; transition-duration: 200ms, 200ms, 200ms, 0; transition-property: max-height, opacity, top, visibility; transition-delay: 200ms, 200ms, 200ms, 0;
}


.reveal-animation.ng-leave {
  visibility: hidden; transition-duration: 50ms; transition-property:visability; transition-delay: 0;
}

.default { opacity: 0; visibility: hidden; top: -10px; transition-duration: 200ms, 200ms, 0; transition-property: opacity, top, visibility; transition-delay: 0, 0, 200ms; }
.hidden { opacity: 1; visibility: visible; top: 0px; transition-duration: 200ms, 200ms, 0; transition-property: opacity, top, visibility; transition-delay: 200ms, 200ms, 0; }

.atom-loader {
  position: relative;
  margin: 50px auto;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #1abc9c;
  //box-shadow: inset 0 0 0 6px #1abc9c, inset 0 0 0 10px white;
  &:before {
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fefefe;
    -webkit-transform: translate(-10px, 30px);
    -webkit-animation: electron 0.5s infinite alternate ease;
    content: "";
  }
  &:after {
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #1abc9c;
    //box-shadow: inset 0 0 0 6px #1abc9c, inset 0 0 0 10px white;
    opacity: 0;
    -webkit-animation: neutron 1s infinite;
    content: "";
  }
}

@-webkit-keyframes electron {
  100% { -webkit-transform: translate(30px, -5px); }
}
@-webkit-keyframes neutron {
  50%  { opacity: 0; }
  51%  { opacity: 1; }
  99%  {opacity: 1;}
  100% { opacity: 0; }
}

@-webkit-keyframes heartbeat {
  from {
     -webkit-transform:scale(1.0);
  }
  50% {
    -webkit-transform:scale(1.2);
  }
  to {
     -webkit-transform:scale(1.0);
  }
}

@-webkit-keyframes fadecolorneon {
  from {
    color:#fefefe;
  }
  90%{
    color:#fefefe;
  }
  to {
    color:#90EE03;
  }
}

@-webkit-keyframes fadecolorgray {
  from {
    color:#fefefe;
  }
  94%{
    color:#fefefe;
  }
  to {
    color:#c2c2c2;
  }
}

@-webkit-keyframes fadecolorhghlt {
  from {
    color:#fefefe;
  }
  95%{
    color:#fefefe;
  }
  to {
    color:@hghlt;
  }
}


/*   Media Queries */

@media (max-width:767px)  {
  nav {
    text-align: center;

    .col-sm-7 {
      font-size:20px;
    }

    .col-sm-5 {
      text-align: center;
    }

    .row.cats {
      margin-top:15px;
      margin-bottom:10px;
    }
  }
  .page-cont {
    .container {
      padding-right: 0px;
      padding-left: 0px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  .intro {
    text-align:center;

    h1 {
      text-align: center;
      max-width: 100%;
      margin-bottom: 35px;
      padding-bottom: 16px;
    }
  }

  
}

@media (min-width: 768px) {
  nav {text-align: left;}
}