<div class="row">
	<div class="col-sm-10 thing">
		<ul class="latest">
			<li>Hover</li>
			<li>Hover</li>
			<li>Hover</li>
			<li>Hover</li>
			<li>Hover</li>
			<li>Hover</li>
			<li>Hover</li>
			<li>Hover</li>
			<li>Hover</li>
			<li>Hover</li>
			<li>Hover</li>
			<li>Hover</li>
			<li>Hover</li>
			<li>Hover</li>
			<li>Hover</li>
		</ul>
	</div>
	<div class="col-sm-2 right-col">
		<div class="side-nav">
			<ul class="list-group stickthis">
			  <li class="list-group-item">Cras justo odio</li>
			  <li class="list-group-item">Dapibus ac facilisis in</li>
			  <li class="list-group-item">Morbi leo risus</li>
			  <li class="list-group-item">Porta ac consectetur ac</li>
			  <li class="list-group-item">Vestibulum at eros</li>
			</ul>
		</div>
		<!-- <div class="row">
			<div class="col-xs-6">
				<ul>
					<li><span class="glyphicon glyphicon-heart-empty"></span><br />
						Show Love</li>
					<li>
						<span class="glyphicon glyphicon-user"></span><br />
						About Me
					</li>
					<li>
						<span class="glyphicon glyphicon-send"></span><br />
						Plane
					</li>
				</ul>
			</div>
			<div class="col-xs-6">
				<ul>
					<li>
						<span class="glyphicon glyphicon-cloud"></span><br />
						Cloud Work
					</li>
					<li>
						<span class="glyphicon glyphicon-cloud"></span><br />
						APIs
					</li>
					<li>
						<span class="glyphicon glyphicon-cloud"></span><br />
						WTFCloud
					</li>
				</ul>
			</div>
		</div> -->
	</div>
</div>
<div class="bio-container"></div>
<!-- 
<div class="sec-cont">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h3>Latest Reads</h3>
			</div>
			<div class="col-sm-8">
				<h4>Header</h4>
				<p>
					lorem ipsLorem ipsum Tempor exercitation reprehenderit et officia dolor.
				</p>
				<p>Lorem ipsum Aute irure laboris Excepteur voluptate dolore Excepteur esse Ut dolore qui id occaecat consectetur ullamco consectetur aliquip veniam fugiat Duis officia amet culpa ullamco fugiat quis anim pariatur amet et eu deserunt in incididunt sunt nisi minim velit sunt cillum mollit veniam fugiat velit Excepteur laborum dolore elit dolore deserunt ut sint esse commodo pariatur in eiusmod enim in fugiat enim fugiat ad ullamco sunt qui ut eiusmod deserunt cupidatat Ut aute sit sunt aliquip elit occaecat ut voluptate incididunt nisi cillum eu ea ex in in aute veniam pariatur Ut cillum irure sit et eu enim reprehenderit incididunt non anim incididunt aliquip cillum dolore amet adipisicing enim minim aliqua veniam do culpa nisi eu pariatur dolore nisi enim Ut minim dolor Duis reprehenderit in eiusmod commodo officia ad elit minim tempor sed amet ut sed eu in culpa minim ut aute nulla irure consequat laboris in esse dolor adipisicing.</p>
			</div>
		</div>
	</div>

</div>


<div class="thr-cont">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h4>Latest Reads</h4>
				<p>
					lorem ipsLorem ipsum Tempor exercitation reprehenderit et officia dolor.
				</p>
			</div>
			<div class="col-sm-4">
				<h4>Header</h4>
				<p>
					lorem ipsLorem ipsum Tempor exercitation reprehenderit et officia dolor.
				</p>
			</div>
			<div class="col-sm-4">
				<h4>Header</h4>
				<p>
					lorem ipsLorem ipsum Tempor exercitation reprehenderit et officia dolor.
				</p>
			</div>
		</div>
	</div>

</div> -->

