<div class="bio">
	<div class="row">
		<div class="col-sm-12">
			<div class="range-container">
				<input type="range" min="0" max="2500" value="0" ng-model="tyslide" ng-change="moveSlide()">
			</div>
			{{tyslide}}
		</div>
	</div>

	<div class="tyler-slide-container" ng-swipe-right="swipe()">
		<div class="atom-container">
			<div class="atom-loader"></div>
			<div class="supporting-text">
				We all start somewhere.
			</div>
		</div>
		<div class="tyler-slide" ng-style="move">
			<div class="tyblock pro">
				<svg width="100%" height="100%">
					 <path d="M 100 100 L 300 100 L 200 300 z" />
				</svg>
				
				<div class="pro-item">
					<div class="pro-item-content">
						<h2>Profession</h2>
					</div>
				</div>

				<div class="pro-item">
					<div class="pro-item-content">
						<p>This is more stuff</p>
					</div>
				</div>
			</div>
			<div class="tyblock timeline">
				<svg width="2500px" height="40">
					<line x1="0" x2="2500" y1="20" y2="20" stroke="orange" fill="transparent" stroke-width="5"/>
				</svg>
			</div>
			<div class="tyblock edu">
				<h2>Education</h2>
			</div>
		</div>
	</div>
</div>

<!-- 
<div class="bio-container"></div>
<button ng-click="changeData()"class="btn btn-default">Change Data</button>

<svg height="50">
	<line x1="0" y1="0" x2="60" y2="20" stroke="teal"/>
	<line x1="60" y1="20" x2="80" y2="40" stroke="#ccc" />
</svg> -->