<div class="bio">
	<div class="row">
		<div class="col-sm-12">
			<div class="range-container">
				<input type="range" min="0" max="2500" value="0" ng-model="tyslide" ng-change="moveSlide()">
			</div>
			{{tyslide}}
		</div>
	</div>

	<div class="tyler-slide-container" ng-swipe-right="swipe()">
		<div class="atom-container">
			<div class="atom-loader"></div>
			<div class="supporting-text">
				We all start somewhere.
			</div>
		</div>
		<div class="tyler-slide" ng-style="move">
			<div class="tyblock pro">
				<svg width="100%" height="100%">
					<defs>
						<style type="text/css"><![CDATA[
						   #job-brighton {
						     stroke: black;
						     fill-opacity: .3;
						   }
						   #job-backcountry {
						   	 stroke: blue;
						   	 fill: blue;
						     fill-opacity: .3;
						   }
						   #job-zionsbank {
						   	stroke:green;
						   	fill:green;
						   	fill-opacity:.3;
						   }
						]]></style>
					</defs>
					<path d="M 0 240 l 400 -40 l 100 -60 l 150 -20 l 30 30 l 600 100 l 0 200 z" id="job-brighton"></path>

					<path d="M 800 240 l 200 -20 l 100 -140 l 600 -50 l 50 210 z" id="job-backcountry">
					</path>

					<path d="M 1600 240 l 100 50 l 20 -40 l 60 0 l 150 -40 l 200 - 30 l 0 240 z" id="job-zionsbank"></path>
					<!-- <path d="M 0 240 l 2500 -0 l 0 -240 z" id="job-brighton" /> -->
				</svg>
				
				<div class="pro-item">
					<div class="pro-item-content">
						<h2>Under...</h2>
					</div>
				</div>

				<div class="pro-item">
					<div class="pro-item-content">
						<p><img src="img/company-logos/brighton.png" class="brighton-resort" /></p>
					</div>
				</div>
			</div>
			<div class="tyblock timeline">
				<svg width="2500px" height="40">
					<defs>
						<style type="text/css"><![CDATA[
						   #MyRect {
						     stroke: black;
						     fill: red;
						   }
						]]></style>
					</defs>
					<line x1="0" x2="2500" y1="20" y2="20" stroke="orange" fill="transparent" stroke-width="5"/>
				</svg>
			</div>
			<div class="tyblock edu">
				<h2>Construction...</h2>
			</div>
		</div>
	</div>
</div>

<!-- 
<div class="bio-container"></div>
<button ng-click="changeData()"class="btn btn-default">Change Data</button>

<svg height="50">
	<line x1="0" y1="0" x2="60" y2="20" stroke="teal"/>
	<line x1="60" y1="20" x2="80" y2="40" stroke="#ccc" />
</svg> -->