<div class="container">
	<div class="row">
		<div class="col-sm-3 col-sm-offset-1 center">
			<div class="myavatar"></div>
		</div>
		<div class="col-sm-7 intro">
			<h1>Hello</h1>
			<h2>I am a versatile <span class="c0">developer</span>, <span class="c1">designer</span>, <span class="c2">student</span> and <span class="c3">f<span class="father glyphicon glyphicon-heart"></span>ther</span>.</h2>
		</div>
		<div class="col-sm-1"></div>
	</div>
	<div class="row">
		<div class="col-sm-12 delayed">
		</div>
	</div>
</div>
