<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tyler Maynard Online Presence</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet/less" href="css/main.less"/>
</head>
<body ng-controller="navCtrl">
 
 <div class="top-cont">
    <div class="container">
      <nav>
        <div class="row visible-xs">
          <div class="col-xs-12">
            <a href="#"><span class="glyphicon glyphicon-align-justify"></span></a>
          </div>
        </div>
        <div class="row hidden-xs">
          <div class="col-sm-12">
            <h1><a href="#">TylersDesk.com</a></h1>
          </div>
        </div>
      </nav>
    </div>  
  </div>

<!-- <welcome message="currentview">
</welcome> -->

<div class="page-cont">
  <div class="container">
    <div class="row cats">
      <div class="col-xs-4" ng-click="loadView('work')">
        <span class="glyphicon glyphicon-folder-open"></span><br />
                <h2>Work</h2>
      </div>
      <div class="col-xs-4" ng-click="loadView('bio')">
        <span class="glyphicon glyphicon-user"></span><br />
                <h2>Bio</h2>
      </div>
      <div class="col-xs-4" ng-click="loadView('curiosity')">
        <span class="glyphicon glyphicon-heart"></span><br />
                <h2>Learn</h2>
      </div>
    </div>
  </div>
</div>

<div class="reveal-animation-container">
  <div class="reveal-animation" ng-view></div>
</div>

<footer>
  <div class="container center">
    <ul>
      <li>Twitter</li>
      <li>LinkedIn</li>
      <li>GitHub</li>
      <li>Facebook</li>
    </ul>
    <span>&copy;2013 TylersDesk.com&trade;</span>
    
  </div>
</footer>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-animate.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="lib/angular/angular-sanitize.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="lib/less/less.js"></script>
</body>
</html>
