<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tyler Maynard Online Presence</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet/less" href="css/main.less"/>
</head>
<body ng-controller="navCtrl">
 
 <div class="top-cont">
    <div class="container">
      <nav>
        <div class="row">
          <div class="col-sm-4">
            <a href="#/"><img src="img/tylersdesk-logo.png" class="img-responsive tylerlogo"></a>
          </div>
          <div class="col-sm-4 col-sm-offset-4">
            <div class="row cats">
              <div class="col-xs-4" ng-click="loadView('bio')">
                <span class="glyphicon glyphicon-user"></span><br />
                <!-- <span>Work</span> -->
              </div>
              <div class="col-xs-4" ng-click="loadView('work')">
                <span class="glyphicon glyphicon-folder-open"></span><br />
                <!-- <span>Bio</span> -->
              </div>
              <div class="col-xs-4" ng-click="loadView('curiosity')">
                <span class="glyphicon glyphicon-heart"></span><br />
                <!-- <span>Learn</span> -->
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>  
  </div>

<!-- <welcome message="currentview">
</welcome> -->

<!-- <div class="page-cont">
  <div class="container">
    <div class="row cats">
      <div class="col-xs-4" ng-click="loadView('work')">
        <span class="glyphicon glyphicon-folder-open"></span><br />
                <h2>Work</h2>
      </div>
      <div class="col-xs-4" ng-click="loadView('bio')">
        
      </div>
      <div class="col-xs-4" ng-click="loadView('curiosity')">
        <span class="glyphicon glyphicon-heart"></span><br />
                <h2>Learn</h2>
      </div>
    </div>
  </div>
</div> -->

<div class="reveal-animation-container">
  <div class="reveal-animation" ng-view></div>
</div>

<footer>
  <div class="container center">
    <ul>
      <li><a href="https://twitter.com/tylersdesk">Twitter</a></li>
      <li><a href="https://www.linkedin.com/pub/tyler-maynard/38/906/740">LinkedIn</a></li>
      <li><a href="https://github.com/TylersDesk">GitHub</a></li>
      <li><a href="https://www.facebook.com/pages/Tyler-Maynard-Design/245437462387">Facebook</a></li>
    </ul>
    <span>&copy;2013 TylersDesk.com&trade;</span>
    
  </div>
</footer>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->

  <!-- 
  Switch to require.js
  -->
  <script src="assets/jquery/jquery.js"></script>
  <script src="assets/angular/angular.js"></script>
  <script src="assets/angular-animate/angular-animate.js"></script>
  <script src="assets/angular-route/angular-route.js"></script>
  <script src="assets/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="assets/d3/d3.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="assets/less/dist/less-1.7.0.js"></script> 
  <script src="assets/jquery-waypoints/waypoints.min.js"></script>
  <script src="assets/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
