<div class="work-card">

	<div class="work-head" ng-click="animatein()">
		<div class="worktype">
			<span ng-class="
			{'glyphicon':true,
			 'glyphicon-globe': workitem.type === 'web',
			 'glyphicon-picture': workitem.type === 'photo',
			 'glyphicon-heart': workitem.type === 'creative'
			}"></span>
		</div>
		<h2 class="{{workitem.type}}">{{workitem.name}}</h2>
		<div class="work-cta"><span ng-class="{'glyphicon':true, 'glyphicon-minus': displaythis === workitem.name, 'glyphicon-plus':displaythis!=workitem.name}"></span></div>
	</div>
	<div ng-class="{'work-body':true, 'displaythis' : displaythis === workitem.name}">
		<div class="work-slide-container">
			<div class="slide">1</div>
			<div class="slide">2</div>
			<div class="slide">3</div>
			
		</div>
		<div class="item-nav row center">
			<div class="col-xs-3 nav-item"><span class="glyphicon glyphicon-plus-sign"></span></div>
			<div class="col-xs-6 nav-item"><span class="glyphicon glyphicon-globe"></span></div>
			<div class="col-xs-3 nav-item"><span class="glyphicon glyphicon-globe"></span></div>
		</div>
	</div>

</div>